<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Search Results</title>
</head>
<body>
    <h1>Playlist Search Results</h1>

    {% if current_playlists %}
        <ul>
            {% for playlist_data in current_playlists %}
                <li>
                    <em>{{ playlist_data }}</em>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No playlists found.</p>
    {% endif %}
</body>
</html>